<div class="textlayout">
    <h1>
        Custom Pipes
    </h1>
    <p>
        Pipes created by the {{ 'Developers rtc' | uppercaseCustom: isUpperCase }}
    </p>

    <p-toolbar>
        <div class="p-toolbar-group-left">                    
            
        </div>
        
        <div class="p-toolbar-group-right">
            <button pButton type="button" icon="pi pi-user-edit" iconPos="right" label="Toggle Uppercase" (click)="upperCaseChanged()" class="p-mr-1 p-button-warning" >        
            </button>
            <button pButton type="button" icon="pi pi-sort" label="Order by name" class="p-mr-1" (click)="changeOrderBy('name')" ></button>
            <button pButton type="button" icon="pi pi-sort" label="Order by Flying" class="p-mr-1 p-button-success" (click)="changeOrderBy('flying')" ></button>
            <button pButton type="button" icon="pi pi-sort" label="Order by color" class="p-mr-1 p-button-helpe" (click)="changeOrderBy('color')"  ></button>
            
        </div>
    </p-toolbar>   
</div>

<div class="p-grid">
    <div class="p-col p-mt-2">
        <p-table [value]="heroes | order: orderby ">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Flying</th>
                    <th>Color</th>                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{heroe.name}}</td>
                    <td>{{heroe.flying | pipeFlying | titlecase }}</td>
                    <td>{{heroe.color }}</td>                    
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>