
<div class="textlayout">
    <h1>
        Pipes not so common
    </h1>
    <p>Pipes included in Angular - usally in the common mudule</p>
</div>

<div class="p-grid">
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{ name }} es un placer {{ genero | i18nSelect:invitacionMap }} a nuestro evento.</p>
            <button pButton type="button" icon="pi pi-forward" iconPos="right" label="Change client" class="p-button-outlined" (click)="changeGenero()" ></button>           
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{ clients.length | i18nPlural:clientsMap }} </p>
            <button pButton type="button" icon="pi pi-thumbs-down" iconPos="right" label="Delete client" class="p-button-outlined p-button-danger" (click)='deleteClients()' ></button>
            <button pButton type="button" icon="pi pi-thumbs-up" iconPos="right" label="Add client" class="p-button-outlined p-button-sucess" (click)= 'addCliente()' ></button>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="SlicePipe" [toggleable]='true'>
            <b> Original</b>
            <pre>{{ clients }}</pre>
            <b> slice:0:2</b>
            <pre> {{  clients | slice:0:2 }} </pre>
            <b> slice:1:2</b>
            <pre> {{  clients | slice:1:2 }} </pre>
            <b> slice:1:5</b>
            <pre> {{  clients | slice:1:5 }} </pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="Json Pipe">
            <pre>
                {{ heroes | json }}
            </pre>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of person | keyvalue">
                    <b>{{item.key | titlecase}}</b> - {{item.value}}
                </li>
            </ul>
        </p-fieldset>
    </div>
    <div class="p-col p-md-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
           

            <pre *ngIf="!( myObservable | async )"> Resolviendo observable </pre>
            <pre> {{ myObservable | async }}</pre> 
            
            <pre *ngIf="!( valuePromise | async )"> Resolviendo promesa </pre>
            <pre> {{ valuePromise | async }}</pre> 



        </p-fieldset>
    </div>
</div>