<!-- <div class="textlayout">
  <h1>{{ name | titlecase }}</h1>
<h1>{{ valor | number }}</h1>
<h1>{{ obj | json }}</h1>
</div>
<button pButton (click)="showName()" label="Mostra valor original" class="p-button-" icon="pi pi-id-card" iconPos="right" >   
</button>
<p-card [header]="name | titlecase" 
    subheader="Subtitulo">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias quisquam aliquam magni recusandae incidunt adipisci, autem sunt corporis eum tempora praesentium obcaecati fugiat? Voluptatem alias soluta inventore fuga doloremque magni.
</p-card> -->

<app-menu></app-menu>

<router-outlet></router-outlet>